.category-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.category-name {
  font-style: italic;
  color: #666;
}

.category-card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem ;
}

