.navigation {
    background-color: #000000;
    color: #fff;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navigation .nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.navigation .nav-list li .nav-item {
    color: #fff;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.navigation .nav-list li .nav-item:hover {
    text-decoration: underline;
}

.navigation .nav-list li .nav-item.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}
