.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.loading,
.no-products {
  font-style: italic;
}

.category-filters button.active
{
  background: #0000;
  color: black;
  border-color:black;
}