.product-card {
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.category-name {
  font-style: italic;
  color: #666;
}

.product-card p {
  box-sizing: border-box;
  margin: 0.5rem 0;
}

.product-card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.product-card_body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-card_actions button {
  flex:1 1 auto;
  min-width: 0;
}

.product-card_actions {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.product-form input,
.product-form textarea,
.product-form select {
  line-height: 1.5;
  box-sizing: border-box;
  height: auto;
}